.sidebar {
  width: 260px;
  min-width: 260px;
  height: 100vh;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;

  padding: 28px 20px;

  background: #ffffff;
  border-right: 1px solid #edf0f5;
}

/* =========================
   LOGO
========================= */

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 5px 10px 30px;
}

.logo-icon {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ff9f00;
  color: white;

  border-radius: 12px;

  font-size: 21px;
  font-weight: 800;
}

.logo-content h2 {
  margin: 0;

  color: #102a43;
  font-size: 21px;
  font-weight: 800;
}

.logo-content span {
  display: block;

  margin-top: 3px;

  color: #94a3b8;
  font-size: 11px;
}

/* =========================
   SECTION
========================= */

.sidebar-section {
  margin-bottom: 25px;
}

.sidebar-title {
  display: block;

  padding: 0 12px;
  margin-bottom: 10px;

  color: #a0aec0;

  font-size: 10px;
  font-weight: 700;

  letter-spacing: 0.08em;
}

/* =========================
   MENU
========================= */

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-item {
  width: 100%;
  min-height: 46px;

  display: flex;
  align-items: center;

  gap: 12px;

  padding: 11px 13px;

  border: none;
  border-radius: 12px;

  background: transparent;

  color: #64748b;

  font-family: inherit;
  font-size: 14px;

  text-align: left;

  cursor: pointer;

  transition: all 0.2s ease;
}

.sidebar-item-icon {
  width: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 17px;
}

.sidebar-item:hover {
  background: #fff6e7;
  color: #f59e0b;
}

.sidebar-item.active {
  background: #fff1d6;
  color: #f59e0b;
  font-weight: 600;
}

/* =========================
   OTHER
========================= */

.sidebar-other {
  margin-top: 5px;
}

/* =========================
   LOGOUT
========================= */

.sidebar-bottom {
  margin-top: auto;

  padding-top: 20px;

  border-top: 1px solid #edf0f5;
}

.sidebar-item.logout:hover {
  background: #fff0f0;
  color: #ef4444;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 850px) {
  .sidebar {
    width: 100%;
    min-width: 100%;
    height: auto;

    position: relative;

    padding: 18px 20px;
  }

  .sidebar-logo {
    padding-bottom: 15px;
  }

  .sidebar-section {
    display: none;
  }

  .sidebar-bottom {
    display: none;
  }
}